@use "../variables" as *;

.hero-image-frame {
    aspect-ratio: 227/296;
    height: auto;
    box-shadow: $frame-shadow;
    background-color: white;
    position: absolute;
    z-index: 1;
    transform-origin: 0% 0%;

    >div {
        aspect-ratio: 197/207;
        width: 85%;
        height: auto;
        margin: auto;
        margin-top: 2.2vw;
        position: relative;
        overflow: hidden;

        >img {
            object-fit: cover;
        }
    }

    >p {
        @include ff-playfair;
        text-align: center;
        text-transform: capitalize;
        color: $primary;
        margin-top: .7vw;
        font-size: 1.1vw;
    }
}

.hero-frame-desktop-1 {
    width: 13vw;
    rotate: -7deg;
    left: 6vw;
    top: 4vw;
}

.hero-frame-desktop-2 {
    width: 14vw;
    rotate: 7deg;
    right: 10vw;
    top: 0vw;

    >div>img {
        object-position: 0% 16%;
    }
}

.hero-frame-desktop-3 {
    width: 13vw;
    rotate: 3.6deg;
    left: 14vw;
    bottom: -3vw;

    >div>img {
        object-position: 0% 100%;
        scale: 1.2;
    }
}

.hero-frame-desktop-4 {
    width: 13vw;
    rotate: -8.4deg;
    right: 16vw;
    bottom: -4vw;
}

// Small Devices
@media (max-width: 1023) {
    .hero-image-frame {
        >div {
            margin-top: 6vw;
        }

        >p {
            margin-top: 2vw;
            font-size: 3vw;
        }
    }
}

.hero-frame-mobile-1 {
    aspect-ratio: 148/193;
    width: 39vw;
    height: auto;
    bottom: 10vw;
    rotate: -7deg;
    left: -4vw;
}

.hero-frame-mobile-2 {
    aspect-ratio: 147/192;
    width: 39vw;
    height: auto;
    bottom: 15vw;
    rotate: 7deg;
    right: -5vw;

    >div>img {
        object-position: 0% 16%;
    }
}

.hero-frame-mobile-3 {
    aspect-ratio: 147/192;
    transform: translateX(-50%);
    width: 39vw;
    height: auto;
    bottom: 15vw;
    left: 50vw;
    rotate: 0;

    >div>img {
        object-position: 0% 100%;
        scale: 1.2;
    }
}